Repository BinaryStudioAcademy/thread-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

feat: add navigation
  client/.eslintrc.yml
  client/android/app/src/main/java/com/thread/MainActivity.java
  client/babel.config.js
  client/index.js
  client/ios/Podfile.lock
  client/jsconfig.json
  client/metro.config.js
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/common/enums/enums.js
  client/src/common/enums/navigation/auth-screen-name.enum.js
  client/src/common/enums/navigation/navigation.js
  client/src/common/enums/navigation/root-screen-name.enum.js
  client/src/common/enums/navigation/thread-screen-name.enum.js
  client/src/index.jsx
  client/src/navigation/auth/auth.navigation.jsx
  client/src/navigation/navigation.jsx
  client/src/navigation/thread/thread.navigation.jsx
  client/src/screens/add-post/add-post.jsx
  client/src/screens/home/home.jsx
  client/src/screens/login/login.jsx
  client/src/screens/profile/profile.jsx
  client/src/screens/register/register.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add home screen
  .prettierrc.yml
  client/src/common/constants/user.constants.js
  client/src/common/enums/components/icon-name.enum.js
  client/src/components/common/common.js
  client/src/components/common/icon/icon.jsx
  client/src/components/common/icon/styles.js
  client/src/components/common/stack/stack.jsx
  client/src/components/components.js
  client/src/components/post/post.jsx
  client/src/components/post/styles.js
  client/src/helpers/date/dayjs/dayjs.js
  client/src/navigation/thread/thread.navigation.jsx
  client/src/screens/home/home.jsx
  client/src/screens/home/styles.js
  client/src/services/http/http.service.js
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add ability to expand post
  .prettierrc.yml
  client/src/common/enums/components/icon-name.enum.js
  client/src/common/enums/navigation/app-screen-name.enum.js
  client/src/common/enums/navigation/home-screen-name.enum.js
  client/src/common/enums/navigation/navigation.js
  client/src/common/enums/navigation/root-screen-name.enum.js
  client/src/components/common/icon/icon.jsx
  client/src/components/common/icon/styles.js
  client/src/components/post/post.jsx
  client/src/navigation/app/app.navigation.jsx
  client/src/navigation/home/home.navigation.jsx
  client/src/navigation/navigation.jsx
  client/src/screens/expanded-post/components/add-comment/add-comment.jsx
  client/src/screens/expanded-post/components/add-comment/styles.js
  client/src/screens/expanded-post/components/comment/comment.jsx
  client/src/screens/expanded-post/components/comment/styles.js
  client/src/screens/expanded-post/components/components.js
  client/src/screens/expanded-post/expanded-post.jsx
  client/src/screens/expanded-post/helpers/get-sorted-comments/get-sorted-comments.helper.js
  client/src/screens/expanded-post/helpers/helpers.js
  client/src/screens/expanded-post/styles.js
  client/src/screens/thread/styles.js
  client/src/screens/thread/thread.jsx
  client/src/store/thread/actions.js
  client/src/store/thread/reducer.js
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add ability to create post
  client/package-lock.json
  client/package.json
  client/src/components/common/button/button.jsx
  client/src/components/common/button/styles.js
  client/src/components/common/spinner/spinner.jsx
  client/src/helpers/helpers.js
  client/src/helpers/image/image.js
  client/src/helpers/image/pick-image/pick-image.js
  client/src/screens/add-post/add-post.jsx
  client/src/screens/add-post/styles.js
  client/src/screens/thread/thread.jsx
  client/src/services/image/image.service.js
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add profile screen
  client/src/components/common/icon/icon.jsx
  client/src/components/common/input/input.jsx
  client/src/components/common/input/styles.js
  client/src/components/common/stack/stack.jsx
  client/src/components/post/post.jsx
  client/src/screens/add-post/add-post.jsx
  client/src/screens/profile/profile.jsx
  client/src/screens/profile/styles.js
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add posts filter
  client/src/components/common/common.js
  client/src/components/common/switch/styles.js
  client/src/components/common/switch/switch.jsx
  client/src/screens/expanded-post/components/add-comment/add-comment.jsx
  client/src/screens/expanded-post/expanded-post.jsx
  client/src/screens/thread/styles.js
  client/src/screens/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add ability to share post
  client/src/components/post/post.jsx
  client/src/helpers/helpers.js
  client/src/helpers/post/post.js
  client/src/helpers/post/share-post/share-post.js
  client/src/screens/expanded-post/expanded-post.jsx
  client/src/screens/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add forms validation
  client/.eslintrc.yml
  client/ios/Podfile.lock
  client/package-lock.json
  client/package.json
  client/src/components/common/input/input.jsx
  client/src/components/common/input/styles.js
  client/src/components/notification/styles.js
  client/src/index.jsx
  client/src/navigation/home/home.navigation.jsx
  client/src/navigation/navigation.jsx
  client/src/screens/auth/components/login-form/constants.js
  client/src/screens/auth/components/login-form/login-form.jsx
  client/src/screens/auth/components/registration-form/constants.js
  client/src/screens/auth/components/registration-form/registration-form.jsx
  client/src/screens/profile/profile.jsx
  client/src/screens/thread/thread.jsx
  client/src/services/notification/constants.js
  client/src/services/notification/notification.service.js
  client/src/validation-schemas/login/login.schema.js
  client/src/validation-schemas/registration/registration.schema.js
  client/src/validation-schemas/validation-schemas.js
Due: npm run lint:editorconfig, npm run lint:client:js

feat: add infinite scrolling
  client/package.json
  client/src/middlewares/socket/socket.middleware.js
  client/src/screens/thread/thread.jsx
  client/src/services/http/http.service.js
  server/src/api/post/post.api.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

feat: improve ui
  client/src/config/app-color.config.js
  client/src/index.jsx
  client/src/screens/add-post/add-post.jsx
  client/src/screens/add-post/styles.js
  client/src/screens/expanded-post/expanded-post.jsx
  client/src/screens/profile/profile.jsx
  client/src/screens/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

docs: add readme
  README.md
Due: npm run lint:editorconfig

fix: fix posts loading
  client/src/middlewares/socket/socket.middleware.js
  client/src/navigation/navigation.jsx
  client/src/screens/expanded-post/expanded-post.jsx
  client/src/screens/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

docs: update readme
  README.md
  client/src/common/prop-types/location.js
  client/src/common/prop-types/prop-types.js
Due: npm run lint:editorconfig, npm run lint:client:js

Update README.md
  README.md
Due: npm run lint:editorconfig

docs: update links
  README.md
Due: npm run lint:editorconfig

docs: update readme
  README.md
Due: npm run lint:editorconfig

feat: update image service
  ios/Podfile.lock
  package-lock.json
  package.json
  src/helpers/image/pick-image/pick-image.helper.js
  src/screens/auth/components/login-form/login-form.jsx
  src/screens/auth/components/registration-form/registration-form.jsx
  src/services/image/image.service.js
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:client:js: any of: client/src/**/*.{js,jsx}
  npm run lint:server:js: any of: server/**/*.js
